.container {
  max-width: 1340px;
}

.btn, button {
  cursor: pointer;
  padding-top: 0.36rem;
}

.sweet-alert, .sweet-alert button, .custom-checkbox .custom-control-indicator {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.v-select {
  .dropdown-toggle {
    //padding-left: 5px !important;
    //padding-right: 5px !important;
    background: none !important;
    border: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    white-space: normal !important;

    //&:focus {
    //  color: #495057 !important;
    //  background-color: #FFF !important;
    //  border-color: #0D98FA !important;
    //  outline: none !important;
    //}

    input[type="search"] {
      border: 1px solid rgba(0, 0, 0, .15) !important;

      &:focus {
        //border: 1px solid #0D98FA !important;
        //color: #495057 !important;
      }
    }
  }
}
.dropdown-menu {
  margin: 0.4rem 0 0;
}

.admin-nav.bg-primary {
  .nav-link {
    color: $white;

    &::after {
      height: 25px;
      content: '';
      display: inline-block;
      width: 6px;
      background: transparent;
      float: right;

      -webkit-transition: background 300ms;
      -moz-transition: background 300ms;
      -o-transition: background 300ms;
      transition: background 300ms;
    }

    &.active::after, &:hover::after {
      background: $yellow;
    }
  }

}

.navbar-toggler {
  border-color: #AAA;
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background: $teal;
}

.table th, .table td {
  border: none;
  padding: 0.6rem;
}

table tr.pointer-cursor th {
  cursor: pointer;
}

table tr.pointer-cursor th.normal-cursor {
  cursor: auto;
}

table .custom-checkbox {
  min-height: 1rem;
}

label.custom-control {
  margin-bottom: 0;
}