//JAMESY
$white:  #fff;
$black:  #000;
$red:    #FF003C;
$orange: #E97F02;
$yellow: #F8CA00;
$green:  #8A9B0F;
$blue:   #034F84;
$teal:   #4ECDC4;
$pink:   #BD1550;
$purple: #490A3D;


$enable-rounded: false;
//$enable-shadows: false;
//$enable-gradients: false;
